<html>
<head>
    <meta charset="utf-8">
    <title>List Projects</title>
</head>
<body>
    {% if projects %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                 <th>STart Date</th>
                                 <th>end Date</th>
                 <th>Assigned to</th>
                 <th>Priority</th>

            </tr>
            </thead>
            <tbody>
            {% for project in projects %}

            <tr>
                <td>{{project.name}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.assignedTo}}</td>
                <td>{{project.priority}}</td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No Projects Found</p>
    {% endif %}
</body>
</html>