{% extends "cbvApp/base.html" %}
{% block body_block %}
<h1>Delete Student:</h1>
<ol>
    <h3>
        <li>First Name: {{student.firstName}}</li>
    </h3>
    <h3>
        <li>Last Name: {{student.lastName}}</li>
    </h3>
    <h3>
        <li>Test Score: {{student.testScore}}</li>
    </h3>

    <form method="post">
        <input type='submit' value='Confirm'>
        <a href="/{{student.id}}">Cancel</a>
        {% csrf_token %}
    </form>

</ol>
<br />
<a href="/create">Add Student</a>
{%endblock%}